// Colors
$dark-blue: #2B3A67;
$light-blue: #66999B;
$yellow: #FFC482;
$black: #000000;
$white: #ffffff;
$red: #ff0000;
$shadow-black: rgba(0, 0, 0, 0.25);

// Dimensions
$minWidth: 500;
$maxWidth: 1600;
$maxWidthContainer: 1000;
$maxWidthModal: 876;

// Fonts
$fontFamilyMain: "Roboto";
$fontFamilySecond: "Ruda";
