// Colors
$dark-blue: #2B3A67;
$light-blue: #66999B;
$yellow: #FFC482;
$black: #000000;
$white: #ffffff;
$red: #ff0000;
$shadow-black: rgba(0, 0, 0, 0.25);
$green: #60DABF;
$gray: #4D4D4D;

// Dimensions
$minWidth: 500;
$maxWidth: 1600;
$maxWidthContainer: 1000;
$maxWidthModal: 876;
$minCardWidth: 300;

// Fonts
$fontFamilyMain: "Roboto";
$fontFamilySecond: "Ruda";

//Shadows
$base-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
