@import './variables';

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.inputContainer {
  display: flex;
  flex-flow: column nowrap;

  .inputLabel {
    display: flex;
    align-items: center;
    height: 47px;
  }

  .inputField {
    min-height: 36px;
    background-color: $white;
    border: 1px solid $dark-blue;
    border-bottom-left-radius: 10px;
    box-shadow: inset 0px 4px 4px $shadow-black;
    padding: 0 10px;
    vertical-align: middle;
  }
}

.gameCard {
  position: relative;
  width: 100px;
  height: 160px;
  background-color: $white;
  border: 1px solid #eee;
  border-radius: 20px;
  box-shadow: 0 4px 4px $shadow-black;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  .btnsWrap {
    position: absolute;
    top: 5px;
    right: 5px;
    display: flex;
    flex-flow: column nowrap;
    gap: 5px;
  }

  .editBtn,
  .removeBtn {
    font-size: 20px;
    border: none;
    background-color: $white;
    cursor: pointer;
  }

  .removeBtn {
    color: red;
  }

  .topLeft {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 65%;
  }

  .bottomRight {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 10px;
  }

  .cardText,
  .cardIcon {
    font-size: 48px;
  }

  .cardText {
    font-family: $fontFamilySecond;
    font-weight: 700;
  }

  .cardIcon {
    color: $green;
  }

  .cardOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(96, 218, 191, 0.46);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
