* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  min-width: 500px;
  min-height: 100vh;
  text-align: center;
  font-family: "Roboto";
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

