@import '../../variables';

.container {
  width: 100%;
  max-width: $maxWidth + px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .gamePage {
    width: 100%;
    max-width: $maxWidthContainer + px;
  }
}
