@import '../../variables';

.header {
  background: $dark-blue;
  position: relative;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  img {
    width: 70px;
    height: 70px;
    z-index: 10;
    position: absolute;
    top: 15px;
    left: 64px;
  }
  .bottomLine {
    background-color: $light-blue;
    height: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}
