@import '../../variables';

.user {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  box-shadow: $base-shadow;
  padding-top: 5px;

  .name {
    text-align: left;
    margin-right: 10px;
    overflow: hidden;
    white-space: nowrap;
  }
  
  svg {
    color: $gray;
    margin-left: auto;
    margin-right: 5px;
    cursor: pointer;
  }

  svg:hover {
    color: $red;
  }
}
