@import '../../variables';

.observerCnt {
  &__switcherCnt {
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 29.5px;
  }

  &__switcherTitle {
    margin: 0px;
    padding-top: 15px;
    font-family: Ruda;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;
    width: 133.5px;
  }
  &__switcher {
    position: relative;
    display: inline-block;
    width: 55px;
    height: 30px;
  }
  &__switcher input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  &__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 24px;
    background-color: #C4C4C4;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-transition: .4s;
    transition: .4s;
  }
    &__slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    right: 3px;
    bottom: 5px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    -webkit-transition: .4s;
    transition: .4s;
  }
  input:checked + &__slider {
    background-color: $dark-blue;
  }
  input:checked + &__slider:before {
  -webkit-transform: translateX(-26px);
  -ms-transform: translateX(26px);
  transform: translateX(-26px);
  }
}

.error {
  color:red;
  padding-left: 10px;
}

.titleCnt {
  display: flex;
  align-items: center;
}
